@model Model.EF.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <title>Admin Huy Huế Fruits</title>
    <style>
        .imgfix {
            position: absolute;
            display: block;
            max-width: 350px;
            max-height: 262px;
            left: -340px;
            top: auto;
        }
    </style>
</head>
<body class="stretched">
    <div id="page-menu" class="no-sticky">

        <div id="page-menu-wrap">

            <div class="container clearfix">

                <div class="menu-title">Trang <span>Quản trị</span></div>

                <nav>
                    <ul>
                        <li><a href="@Url.Action("ListUser","User")"><div>Tài khoản</div></a></li>
                        <li><a href="@Url.Action("ListProduct","Product")"><div>Sản phẩm</div></a></li>
                        <li><a href="portfolio-notitle.html"><div>Thể loại</div></a></li>
                        <li><a href="portfolio-title-overlay.html"><div>Đơn hàng</div></a></li>
                        <li><a href="portfolio-fullwidth.html"><div>Khiếu nại</div></a></li>
                        <li><a href="portfolio-fullwidth-notitle.html"><div>Thống kê</div></a></li>
                    </ul>
                </nav>

                <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

            </div>

        </div>

    </div><!-- #page-menu end -->
    <section id="page-title">
        <div class="container clearfix">
            <h1>Chỉnh sửa thông tin sản phẩm !</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","User")">Quản trị</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("ListProduct","Product")">Sản phẩm</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa</li>
            </ol>
        </div>
    </section><!-- #page-title end -->

    <section id="content">
        @*<div class="content-wrap">

            <div class="container clearfix">



            </div>

        </div>*@
        <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
            <div class="acctitle">@*<i class="acc-closed icon-user4"></i><i class="acc-open icon-ok-sign"></i>Chỉnh sửa thông tin? Hãy cân nhắc*@</div>
            <div class="acc_content clearfix">
                @using (Ajax.BeginForm("Edit", "Product", new AjaxOptions { HttpMethod = "POST", OnSuccess = "ShowSuccess" },new { enctype = "multipart/form-data"}))
                {
                    @Html.ValidationSummary(false, "", new { @class = "custom-validation-summary" })
                    <input type="hidden" id="id" name="id" value="@Model.ID" />
                    <img src="@Model.Image" id="imgpreview" class="imgfix" />
                    <div class="col_full">
                        <label for="register-form-username" id="oldUserMess">Tên sản phẩm:&nbsp;</label>
                        <label for="register-form-username" id="userMess" style="color:red"></label>
                        @Html.TextBoxFor(model => model.Name, new { id = "register-form-username", name = "register-form-username", @class = "form-control" })
                    </div>
                    <input id="input-11"  name="imgfile" type="file" onchange="previewimg(event)"  multiple class="" accept="image/*" data-show-preview="false">
                    <div class="col_full">
                        <label for="register-form-phone" id="oldphone">Thể loại:</label>
                        <label for="register-form-phone" id="phone" style="color:red"></label>
                        @Html.DropDownListFor(model => model.CategoryID, null, new { @class = "form-control", id = "exampleFormControlSelect1" })
                    </div>
                    <div class="col_full">
                        <label for="register-form-password" id="oldpass">Giá:</label>
                        <label for="register-form-password" id="pass" style="color:red"></label>
                        @Html.TextBoxFor(model => model.Price, new { id = "register-form-password", name = "register-form-password", @class = "form-control" })
                    </div>
                    <div class="col_full">
                        <label for="register-form-name">Giá khuyến mại:</label>
                        @Html.TextBoxFor(model => model.PromotionPice, new { id = "register-form-name", name = "register-form-name", @class = "form-control" })
                    </div>
                    <div class="col_full">
                        <label for="register-form-name">Số lượng trong kho:</label>
                        @Html.TextBoxFor(model => model.Quantity, new { id = "register-form-address", name = "register-form-address", @class = "form-control" })
                    </div>
                    <div class="col_full">
                        <label for="register-form-email" id="oldemail">Đơn hàng đã đặt:</label>
                        <label for="register-form-email" id="email" style="color:red"></label>
                        @Html.TextBoxFor(model => model.ViewCount, new { id = "register-form-email", name = "register-form-email", @class = "form-control", @readonly = "readonly" })
                    </div>
                    <button id="success" type="submit" class="btn btn-primary">Lưu lại</button>
                    <a href="@Url.Action("ListProduct","Product")" class="btn btn-secondary" data-dismiss="modal">Trở lại</a>
                }
            </div>

        </div>
    </section>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $("#register-form-phone").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        $("#input-11").fileinput({
            showUpload: false,
            maxFileCount: 10,
            allowedFileTypes: ["image", "video"]
        });
    });
    var previewimg = function (event) {
        var result = document.getElementById("imgpreview");
        result.src = URL.createObjectURL(event.target.files[0]);
    }

    function ShowSuccess(data) {
        if (data.isok == true) {
            $('#success').attr({
                'data-notify-type': 'success',
                'data-notify-msg': '<i class=icon-ok-sign></i> Chỉnh sửa thành công!'
            });
            SEMICOLON.widget.notifications('#success');
            window.setTimeout(function () { window.location.reload() }, 3000);
        } else {
            $('#success').attr({
                'data-notify-type': 'error',
                'data-notify-msg': '<i class=icon-remove-sign></i> Chỉnh sửa không thành công!'
            })
            SEMICOLON.widget.notifications('#success');
        }
    }
</script>
